.about {
  width: 50%;
  margin: 0 auto;
  height: 60vh;

  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__img-box {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;

    &:after {
      content: '';
      position: absolute;
      bottom: -20px;
      right: -20px;
      width: 100%;
      height: 100%;
      border: 2px solid #64ffda;
      border-radius: 4px;
      display: block;
      z-index: 1;
      transition: all 0.2s ease;
    }
    &:hover {
      .about__img-wrapper {
        background: rgba($color: #64ffda, $alpha: 0);
      }
    }
    &:hover::after {
      bottom: -15px;
      right: -15px;
    }
  }
  &__img-wrapper {
    transition: all 0.2s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    border-radius: 4px;
    background: rgba($color: #02a881, $alpha: 0.3);
  }

  &__right {
    margin-left: 50px;
    img {
      position: relative;
      border-radius: 4px;
      width: 320px;
      height: 300px;
      object-fit: cover;
      z-index: 10;
    }
  }
  &__left {
    width: 50%;
  }
}
