.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  height: 80px;
  background: rgba($color: #0a192f, $alpha: 0.9);
  &__inner {
    display: flex;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      width: 45px;
      height: 45px;
      background: transparent;
      border: 2px solid #64ffda;
      border-radius: 4px;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        background: rgba($color: #64ffda, $alpha: 0.1);
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
  .nav {
    .menu {
      display: flex;
      align-items: center;
      &__item {
        &-link {
          font-family: 'Source Code Pro', monospace;
          display: inline-block;
          font-size: 15px;
          margin-right: 25px;
          color: #c9d3f3;
          transition: all 0.2s ease;
          cursor: pointer;
          &:hover {
            color: #64ffda;
            outline: 2px dashed #64ffda;
            outline-offset: 10px;
          }

          span {
            color: #64ffda;
          }
        }
      }
    }
  }
}
