.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  height: 80px;
  background: rgba($color: #0a192f, $alpha: 0.6);
  backdrop-filter: blur(10px);
  &__inner {
    display: flex;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 21px;
      width: 45px;
      height: 45px;
      background: transparent;
      border: 2px solid #64ffda;
      border-radius: 4px;
      transition: all 0.2s ease;
      cursor: pointer;
      &:hover {
        background: rgba($color: #64ffda, $alpha: 0.1);
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
  .nav {
    .menu {
      display: flex;
      align-items: center;
      &__item {
        &-link {
          // font-family: 'Source Code Pro', monospace;
          display: inline-block;
          font-size: 15px;
          margin-right: 15px;
          color: #c9d3f3;
          transition: all 0.2s ease;
          border: 2px dashed transparent;
          cursor: pointer;
          border-radius: 4px;
          padding: 5px 8px;
          &:hover {
            color: #64ffda;
            border-color: #64ffda;
          }

          span {
            color: #64ffda;
          }
        }
      }
    }
  }
}

.progress-container {
  width: 100%;
  height: 2px;
  background: transparent;
  position: fixed;
  top: 80px;
  z-index: 450;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  display: block;
  height: 2px;
  background: #64ffda;
  width: 0%;
  box-shadow: 0px 0px 80px rgba($color: #64ffda, $alpha: 0.8);
}
