.promo {
  position: relative;
  padding-top: 80px;
  height: 100vh;
  background-image: url('https://media.giphy.com/media/Er3QVX48nt5ok/giphy.gif?cid=ecf05e47jtzze6kxsaobqycnd4twml77fg2m5oszbj3pse0a&rid=giphy.gif&ct=g');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  &-blockout {
    width: 100%;
    height: 100%;
    background: rgba($color: #0a192f, $alpha: 0.9);
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  &__gif {
    width: 100%;
    height: 80%;
    display: block;
  }
  &__wrapper {
    position: relative;
    height: 90vh;
    z-index: 10;
  }
  &__box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 70%;
  }
  &__suptitle {
    font-size: 16px;
    font-weight: 400;
    color: #64ffda;
    z-index: 10;
    // font-family: 'Source Code Pro', monospace;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    opacity: 0.8;
    margin: 25px 0;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 50px;
    opacity: 0.8;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  &__text {
    opacity: 0.8;
    line-height: 1.4;
    margin-bottom: 50px;
    width: 70%;
    a {
      color: #64ffda;
      margin: 0 2px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
