@import './styles/header.scss';
@import './styles/promo.scss';
@import './styles/about.scss';
@import './styles/skills.scss';
@import './styles/works.scss';
@import './styles/contact.scss';
@import './styles/footer.scss';

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  &--header {
    max-width: 1850px;
  }
}

.text {
  opacity: 0.8;
  line-height: 1.3;
}

.btn {
  // font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  background: transparent;
  border: 1px solid #64ffda;
  cursor: pointer;
  padding: 11px 20px;
  border-radius: 5px;
  font-size: 15px;
  color: #64ffda;
  transition: all 0.2s ease;
  &:hover {
    background: rgba($color: #64ffda, $alpha: 0.1);
  }
}

section {
  height: 100vh;
}

.inner {
  margin: 20px 0;
  &--contact {
    text-align: center;
    .title {
      align-items: center;
      justify-content: center;
      &::after {
        display: none;
      }
    }
  }
  .title {
    display: flex;
    align-items: flex-end;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 190px;
      top: 50%;
      background-color: #233554;
      width: 300px;
      height: 2px;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 26px;

    opacity: 0.8;
  }
  span {
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    // font-family: 'Source Code Pro', monospace;
    color: #64ffda;
    margin-right: 8px;
  }
}

.social {
  position: fixed;
  bottom: 10px;
  left: 3%;
  z-index: 200;
  nav {
    a {
      display: block;
      width: 20px;
      height: 20px;
      margin-bottom: 25px;
      opacity: 0.7;
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(-3px);
        opacity: 1;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.burger-menu {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 36px;
    height: 36px;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  &::selection {
    background-color: #233554;
  }
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'JetBrains Mono', monospace;
  line-height: 1;
  background-color: #0a192f;
  color: #fff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

html {
  &::-webkit-scrollbar {
    width: 0;
  }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

@media (max-width: 1600px) {
  .promo {
    box-shadow: inset 0 -100px 400px 320px rgba(10, 25, 47, 1);
  }
  .about {
    width: 70%;
  }
}

@media (max-width: 1400px) {
  .promo {
    box-shadow: inset 0 -100px 400px 350px rgba(10, 25, 47, 1);
  }
}

@media (max-width: 1200px) {
  .about {
    padding: 50px 0;
    height: 100%;
  }
  .skills {
    padding: 50px 0;
    height: 100%;
  }
  .promo {
    box-shadow: inset 0 -220px 400px 320px rgba(10, 25, 47, 1);
    &__box {
      text-align: center;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__text {
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
  .inner {
    text-align: center;
    .title {
      justify-content: center;
      &::after {
        display: none;
      }
    }
  }
  .works {
    &__item {
      text-align: center;
      justify-content: center;
      flex-direction: column;
      &--reverse {
        flex-direction: column-reverse;
      }
      .works__info {
        margin-bottom: 20px;
        margin-top: 0;
      }
    }
    &__img {
      img {
        width: 70%;
      }
    }
    &__info {
      width: 70%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}

@media (max-width: 992px) {
  .about {
    width: 90%;
  }
}

@media (max-width: 779px) {
  .works__item:hover {
    outline-offset: 5px;
  }
  .social {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .works {
    &__links a:focus {
      outline: none;
    }
    &__img {
      img {
        width: 100%;
      }
    }
    &__info {
      width: 100%;
    }
  }
  .progress-container {
    top: 65px;
  }
  .header {
    height: 65px;
    &__inner {
      padding-top: 10px;
    }
    &__right {
      display: none;
    }
    &__right--menu {
      display: flex !important;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 500;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: #0a192f;
      padding: 20px;
      .social {
        display: block;
        position: static;
        margin-bottom: 30px;
        nav {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 12px;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 600;
        background: transparent;
        cursor: pointer;
        border: none;
        opacity: 0.8;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .btn {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
      nav {
        ul {
          flex-direction: column;
          li {
            a {
              font-size: 17px !important;
              margin-bottom: 40px;
              margin-right: 0 !important;
            }
          }
        }
      }
    }
  }
  .promo {
    &__title {
      font-size: 50px;
    }
    &__subtitle {
      font-size: 50px;
    }
  }
  .skills {
    &__box {
      justify-content: center;
      flex-direction: column;
    }
    &__item {
      width: 60%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .about {
    width: 90%;
    &__right {
      margin: 0 auto;
    }
    &__left {
      text-align: center;
      width: 60%;
      margin: 0 auto;
      margin-top: 40px;
    }
    &__box {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 579px) {
  .contact__bottom p {
    font-size: 18px;
  }
  .contact__bottom span {
    font-size: 16px;
  }
  .header {
    &__logo {
      z-index: 600;
    }
  }
  .header__right {
    width: 100%;
  }
  .works {
    &__tech {
      flex-wrap: wrap;
      line-height: 1.3;
    }
  }
  .about {
    &__left {
      width: 100%;
    }
    &__right {
      img {
        width: 280px;
        height: 300px;
      }
    }
  }
  .skills {
    &__item {
      width: 100%;
    }
    &__more {
      margin-top: 10px;
    }
  }
  .promo {
    box-shadow: inset 0 -100px 400px 140px rgba(10, 25, 47, 1);
    &__title {
      font-size: 40px;
      margin: 15px 0;
    }
    &__subtitle {
      font-size: 40px;
    }
    &__text {
      width: 100%;
    }
  }
}

@media (max-width: 379px) {
  .about__right {
    img {
      width: 260px;
      height: 280px;
    }
  }
  .about__img-box:after {
    right: -10px;
    bottom: -10px;
    &:focus {
      right: -2px;
      bottom: -2px;
    }
  }
}
